.container {
  margin-top: 20px;
}

.formCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.label {
  margin-left: 8px;
  font-size: 14px;
}

.noPaddingRL {
  padding-right: 0;
  padding-left: 0;
}

.accountItem {
  margin-bottom: 10px;
}
